@using StudentHousingProblemCounter.ViewModels;
@model HomeViewModel
<div class="main-container">
    <div class="main-info-wrapper">
        <div class="counter-container">
            <div id="live-counter">
                <div class="counter-digit"><span>0</span></div>
                <div class="counter-digit"><span>0</span></div>
                <div class="counter-digit"><span>0</span></div>
                <div class="counter-digit"><span>0</span></div>
                <div class="counter-digit"><span>0</span></div>
            </div>
        </div>
        <div class="label-wrapper">
            <span class="label-info">concerned people</span>
        </div>
    </div>
</div>