@using StudentHousingProblemCounter.ViewModels;
@model HomeViewModel
<div class="main-container">
    <div class="main-info-wrapper">
        <div class="counter-container">
            <div id="live-counter">
                <div class="counter-digit"><span></span></div>
                <div class="counter-digit"><span></span></div>
                <div class="counter-digit"><span></span></div>
                <div class="counter-digit"><span></span></div>
                <div class="counter-digit"><span></span></div>
            </div>
        </div>
        <div class="label-wrapper">
            <span class="label-info">concerned people</span>
        </div>
    </div>
    <div class="main-script-wrapper">
        <div class="script-wrapper">
            <span class="script">
                Faced the problem of renting a house in Barcelona?  You are not the only one.
                Student housing crisis in Barcelona inevitably affects the economy of the whole region. Government and Universities shift responsibility for student accommodation to the private owners and are fostering a free market. It is a real obstacle to education not only for international students, but also for residents.
            </span>
            <br/>
            <span class="script">
                With a total number of international students of 50,000, Catalonia attracts over 20,000 foreign applicants annually and provides only 4,000 beds. To feel this insane fact just imagine: the size of the dormitory for all international students  would be equal to 4 Sagrada Familia!
            </span>
            <br />
            <span class="script">
                We are a group of researchers studying the topic of student housing in Barcelona and looking for the “keys” to the solution. We need your support!
            </span>
            <br />
            <span class="script">
                We all are currently impacted by the international student housing crisis in Barcelona. Do you want it to change?
            </span>
        </div>
        <div class="subscribe-wrapper">
            <div class="subscribe-label">
                Something's coming soon! Subscribe so you don't miss out.
            </div>
            <div class="subscribe-button-wrapper">
                <input type="text" />
                <input type="button" value="SUBSCRIBE" />
            </div>
            <div class="logo-wrapper">
                <img class="logo" src="~/img/logo.png" />
            </div>
        </div>
    </div>
</div>